In [2]:
#Importing Data Manipulation Libraries
import numpy as np
import pandas as pd
#Importing Data Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns
#Importing Warning Library
import warnings
warnings.filterwarnings('ignore')

In [4]:
url = 'https://raw.githubusercontent.com/meet-vasita/Loan-Default-Classification-Model/refs/heads/main/Dataset/Loan_default.csv'
df = pd.read_csv(url)
df.sample(frac=1)

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
163731,5WHJMN9BSB,27,92000,190364,418,9,3,15.15,48,0.60,High School,Unemployed,Divorced,Yes,No,Auto,No,1
185312,I6CJ3LM5G8,19,113093,65819,571,93,1,5.59,24,0.71,PhD,Part-time,Single,Yes,No,Education,Yes,0
26258,ZJ7CMYWSKC,30,15154,224069,695,51,1,20.67,48,0.44,Master's,Part-time,Divorced,No,No,Business,No,1
235822,T0E9JEYUCY,45,34142,155522,380,113,1,3.98,12,0.21,High School,Part-time,Married,Yes,Yes,Business,No,0
111735,QQ1QIVUNEN,22,65538,68597,503,35,2,20.61,12,0.22,PhD,Self-employed,Single,Yes,No,Education,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168444,LZJBLRCT0X,64,123286,96279,323,48,4,4.90,60,0.31,Bachelor's,Self-employed,Married,No,Yes,Education,Yes,0
186855,G62L6O911W,68,146197,89227,594,64,3,7.18,60,0.42,PhD,Unemployed,Divorced,Yes,Yes,Other,Yes,0
235066,6944CL0HCT,21,108453,75285,744,71,3,19.80,48,0.49,PhD,Unemployed,Divorced,No,Yes,Auto,No,0
139822,BDIXTJ6TX0,55,101816,226506,363,7,3,7.15,60,0.20,Master's,Part-time,Married,Yes,No,Education,No,0
5307,2V5213GBWC,63,70236,102800,630,3,4,11.74,48,0.83,High School,Unemployed,Single,No,Yes,Other,Yes,0

In [ ]:
#Checking the dataset shape
df.shape

(255347, 18)

In [ ]:
#Checking the dataset columns
df.columns

Index(['LoanID', 'Age', 'Income', 'LoanAmount', 'CreditScore',
       'MonthsEmployed', 'NumCreditLines', 'InterestRate', 'LoanTerm',
       'DTIRatio', 'Education', 'EmploymentType', 'MaritalStatus',
       'HasMortgage', 'HasDependents', 'LoanPurpose', 'HasCoSigner',
       'Default'],
      dtype='object')

In [ ]:
#Checking the Dataset Information
df.info()
#After Checking the dataset information we get to know that this dataset doesnt contain any null values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255347 entries, 0 to 255346
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   LoanID          255347 non-null  object
 1   Age             255347 non-null  int64
 2   Income          255347 non-null  int64
 3   LoanAmount      255347 non-null  int64
 4   CreditScore     255347 non-null  int64
 5   MonthsEmployed  255347 non-null  int64
 6   NumCreditLines  255347 non-null  int64
 7   InterestRate    255347 non-null  float64
 8   LoanTerm        255347 non-null  int64
 9   DTIRatio        255347 non-null  float64
 10  Education       255347 non-null  object
 11  EmploymentType  255347 non-null  object
 12  MaritalStatus   255347 non-null  object
 13  HasMortgage     255347 non-null  object
 14  HasDependents   255347 non-null  object
 15  LoanPurpose     255347 non-null  object
 16  HasCoSigner     255347 non-null  object
 17  Default         255347 non-null  int64
dtypes: float64(2), int64(8), object(8)
memory usage: 35.1+ MB